@font-face {
	font-family: 'themify';
	src:url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.eot");
	src:url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.eot") format("embedded-opentype"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.woff") format("woff"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.ttf") format("truetype"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body{
  font-family: "themify";
  line-height: 2px;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  border: 0vh;
}
/* @import url(./themify-icons.css);
@import url(./responsive.css); */
/* section {
    padding: 55px 0;
  }
.secondary-title {
    font-size: 17px;
    opacity: 0.7;
    margin-bottom: 15px;
  }
  .small-header .title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
  }
  
  .small-header {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #d8f9f2 !important;
  }
  .small-header li,a{
    list-style: none;
    text-decoration: none;
  }
  .control:focus {
    border-color: #c2f6ea;
  }
  
  .control{
    height: 30px;
    line-height: 35px;
    font-size: 13px;
  }
  
  .control {
    font-size: 16px;
    height: 50px;
    line-height: 60px;
  }
  select.control,
textarea.control {
  line-height: 1.5;
}
.bold-option{
    font-weight: 200;
}
h1{
    text-transform:capitalize;
    color: rgb(0, 255, 191);
    font-family: "themify";
}
.crumb {
    font-size: 0.9rem;
  }
 .non-active a {
    color: white;
    text-decoration: none;
   
  }
  li.non-active{
     height:100%;
     width: 150%;
     background-color: rgb(0, 255, 191);
     transition: background-color 10s !important;
     align-items: center;
     justify-content: center;
     padding-top: 30%;
  }
li.non-active:hover{
    background-color: cadetblue;
    transition: all 1s;
}
.active{
    border-bottom: 1px solid black;
    padding-top: 30%;
}
.active a{
    color: black !important;
    padding-top: 70%;
}
.active:hover{
  border-bottom: 1px solid cadetblue;
}
.active a:hover{
  color:cadetblue !important;
}
hr {
    margin: 10px 0 25px;
  }
.crumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0.55rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0rem;
    font-size: larger;
    font-weight: bold;
    font-family: "themify";

  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
 * /

/* nav.secondnav{
  background-color: lightskyblue;
 height: 75px;
} */
div.container-nav1{
  display: inline;
 background-color: black;
}
div.logo img{
  height: 20px;
  width:  20px;
}
div.socials{
  float: left;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  gap: 20px;
  padding-top: 3px;
}
div.logo{
  float: right;
  width: 20px;
  height: 20px;
  padding-left:100px;
  padding-right: 3px;
  padding-top: 3px;
} 
div.socials img{
  width: 25px;
  height: 25px;
}
.firstnav{
  padding: 0px;
  background-color:black;
  height: 35px;
}
.container-nav2{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
}
.github img{
  width: 28%;
  height: 28%;
}
#intro{
  background-color:white !important;
  text-align: center !important;
  height: 277px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: center;
   align-items: center; 
  background-image: linear-gradient(62deg, #181719 100%);
  font-family: "osward" !important;
  }
#intro h6{
  color:black;
  /* vertical-align: middle; */
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  font-weight: 600;
  font-family: "themify";
}
#intro h1 b{
  color: black;
  font-size: 48px;
  font-family: sans-serif;
  /* vertical-align: middle; */
  font-weight:lighter;
}
.big-image img{ 
 background-repeat: no-repeat;
 max-width: 100%;
 background-size:cover;
 background-position: center;
 color: white;
 display: flex;
 flex-direction: row;
 width: 1700px;
 height: 1060px;
 
}
.big-image a{
  text-decoration: none;
  color: white;
}
#intro button{
  background-color: black;
  color: white;
  height: 150%;
  font-size: 20px;
  font-family: "themify";
  font-weight: 600;
}
footer{
  height: 50px;
  background-color:#616161;
  color: white;
  padding:32px;
  padding-top: 5%;
}
footer img{
  height: 15px;
  width: 15px;
}
footer a.image{
  height: 22.50px;
  width: 140px;
  background-color: black;
  font-size: 15px;
  font-family: "osward";
  font-weight: lighter;
   margin-bottom: 16px !important; 
  border: none;
  vertical-align: middle;
  text-decoration: none;
  padding: 12px 24px;
  text-align: center;
}
@font-face {
  font-family: "osward";
  src: url(./Oswald/static/Oswald-Bold.ttf) format(truetype),
  url(./Oswald/Oswald-VariableFont_wght.ttf) format(truetype),
  url(./Oswald/static/Oswald-ExtraLight.ttf) format(truetype) ,
  url(./Oswald/static/Oswald-Light.ttf) format(truetype),
  url(./Oswald/static/Oswald-Medium.ttf) format(truetype),
  url(./Oswald/static/Oswald-Regular.ttf) format(truetype),
  url(./Oswald/static/Oswald-SemiBold.ttf) format(truetype);
}
.big-image .txt{
    position: absolute;
    top: 80%;
    align-self:flex-end;
    left: 2%;
    font-family: "osward";
    display: flex;
    flex-direction: column;
    color: white;
    
}
.txt p{
  font-size: 50px;
  font-weight: lighter !important;
  letter-spacing:9px;
  line-height: 1.5px;
  font-family:"themify";
}
.txt h1{
  font-size: 78px;
  font-weight: bolder;
  line-height: 1.5px;
}
.txt a{
  height:30px;
  background-color: grey;
  width: 120px;
  padding-top: 5%;
  padding-left: 2%;
  font-size: 20px;
  font-weight: lighter;
  font-family: "themify";
  color: black;
  margin-top: 20px;

}
footer p {
  color: white;
  padding-top: 29px;
  margin: 15px 0;
  left: 0;
  font-family: "themify";
}
footer p a{
  color: white;
}