@font-face {
	font-family: 'themify';
	src:url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.eot");
	src:url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.eot") format("embedded-opentype"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.woff") format("woff"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.ttf") format("truetype"),
		url("../../../Documents/GitHub/joeblog/public_html/assets/vendors/themify-icons/fonts/themify.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body{
  font-family: "themify";
}
/* @import url(./themify-icons.css);
@import url(./responsive.css); */
/* section {
    padding: 55px 0;
  }
.secondary-title {
    font-size: 17px;
    opacity: 0.7;
    margin-bottom: 15px;
  }
  .small-header .title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
  }
  
  .small-header {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #d8f9f2 !important;
  }
  .small-header li,a{
    list-style: none;
    text-decoration: none;
  }
  .control:focus {
    border-color: #c2f6ea;
  }
  
  .control{
    height: 30px;
    line-height: 35px;
    font-size: 13px;
  }
  
  .control {
    font-size: 16px;
    height: 50px;
    line-height: 60px;
  }
  select.control,
textarea.control {
  line-height: 1.5;
}
.bold-option{
    font-weight: 200;
}
h1{
    text-transform:capitalize;
    color: rgb(0, 255, 191);
    font-family: "themify";
}
.crumb {
    font-size: 0.9rem;
  }
 .non-active a {
    color: white;
    text-decoration: none;
   
  }
  li.non-active{
     height:100%;
     width: 150%;
     background-color: rgb(0, 255, 191);
     transition: background-color 10s !important;
     align-items: center;
     justify-content: center;
     padding-top: 30%;
  }
li.non-active:hover{
    background-color: cadetblue;
    transition: all 1s;
}
.active{
    border-bottom: 1px solid black;
    padding-top: 30%;
}
.active a{
    color: black !important;
    padding-top: 70%;
}
.active:hover{
  border-bottom: 1px solid cadetblue;
}
.active a:hover{
  color:cadetblue !important;
}
hr {
    margin: 10px 0 25px;
  }
.crumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0.55rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0rem;
    font-size: larger;
    font-weight: bold;
    font-family: "themify";

  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
 * /

/* nav.secondnav{
  background-color: lightskyblue;
 height: 75px;
} */
div.container-nav1{
  display: inline;
 background-color: black;
}
div.logo img{
  height: 20px;
  width:  20px;
}
div.socials{
  float: left;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  gap: 20px;
  padding-top: 3px;
}
div.logo{
  float: right;
  width: 20px;
  height: 20px;
  padding-left:100px;
  padding-right: 3px;
  padding-top: 3px;
} 
div.socials img{
  width: 25px;
  height: 25px;
}
.firstnav{
  padding: 0px;
  background-color:black;
  height: 35px;
}
.container-nav2{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
}
.github img{
  width: 28%;
  height: 28%;
}
#intro{
  background-color:white !important;
  text-align: center !important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: center;
   align-items: center; 
  background-image: linear-gradient(62deg, #181719 100%);
}
#intro p{
  color:black;
  /* vertical-align: middle; */
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 5%;
}
#intro h1{
  color: black;
  font-size: 3rem;
  font-family: sans-serif;
  /* vertical-align: middle; */
  line-height: 5%;
}
.big-image{
 background-image: url(https://www.w3schools.com/w3images/jane.jpg);
 background-image:url(./blog\ images/Tweet\ _\Twitter.jpeg );
 background-repeat: no-repeat;
 height: 100vh;
 width: 100%;
 background-size:cover;
 background-position: center;
 color: white;
}
.big-image a{
  text-decoration: none;
  color: white;
}
#intro button{
  background-color: black;
  color: white;
  font-family: "themify";
  height: 200%;
  font-weight: 200;
  font-size: 1.5rem;
}
footer{
  height: 100px;
  background-color: grey;
  color: white;
  padding-top: 2%;
}
footer img{
  height: 20px;
  width: 20px;
}
footer a{
  height: 45px;
  width: 45px;
  background-color: black;
  font-size: 2rem;
}